<div class="row">
  <div class="col 2 nav-boards">
    <%= react_component("Nav") %>

    <% Board.all.each do |board| %>
        <div class="board-block-index">
            <big class="board-title"><%= board_link(board) %></big>
        </div>
    <% end %>
  </div>
</div>

<div class="row sign-in-out-row">
  <%= react_component("SignInOutUp", current_user: current_user, sign_in: signed_in?) %>
</div>

<div class="row create-new-stuff-row">
  <%= react_component("CreateNewStuff") %>
</div>
