<div class="row">
  <div class="col 2 nav-boards">
    <big class="home-link"><%= link_to "Home", root_path %></big>
    <% Board.all.each do |board| %>
        <div class="board-block-index">
            <big class="board-title"><%= link_to board.name, board, target: "_blank", rel: "nofollow" %></big>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <b class="blueit"><%= link_to "Blueit", root_path %></b>
  <a href=../links/new class="waves-effect waves-light btn new-board">New Board</a>
</div>
