<div class="board-title-block">
  <% boards.each do |board| %>
  <div class="blocky-block">
    <div class="board-title-index"><%= link_to "/r/#{board.name}: #{board.name.capitalize}", "/r/#{board.name}" %></div>
    <bold class="board-posts-count"><%= "Posts: #{board.links.count}" %></bold>
  </div>
  <% end %>
</div>
