@import 'materialize';


/************** GENERAL ****************/


body {
  margin-bottom: 40px;
  width: 100%;
}

.container {
  width: 100%;
  .blueit {
    font-size: 400%;
  }
  .new-board {
    float: right;
    top: 30px;
  }
  .row {
    margin: 0;
    border: 1px solid gray;

    .col {
      .page-button /*WHY WONT YOU FUCKING WORK*/{
        float: right;
        padding-right: 0;
      }
    }
  }
}


.link-board-show {
  width: 100%;
}

.home-link {
  margin-right: 10px;
}

.upvote {
  color: #FF4400;
}

.downvote {
  color: #9393FF;
}

.nav-boards {
  float: left;
  display: inline-flex;
  .board-title {
    margin: 10px;
  }
}
nav.pagination {
  padding: 10px;
  a {
    position: relative;
    top: -10px;
  }
  span.page.current {
    position: relative;
    top: -10px;
  }
}

h6 {
  bottom-margin: 0;
  sup {
    font-weight: bold;
    margin-right: 10px;
  }
}

.like-hate {
  min-width: 90px;
}
/************** INDEX ****************/

.link-content-block-index {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  margin: 0px;
  border: 1px solid gray;
  background: #F5F8FA;
  &:hover {
    background: white;
  }
}

/************** SHOW ****************/

.link-content-block-show {
  display: flex;
  padding: 10px;
  margin: 50px;
  border: 1px solid gray;
  background: #F5F8FA;
}

/************** NEW POST ****************/

.new-post-title {
  margin: 0;
}

.new-post {
  display: flex;
  margin: 10px;
}

/************** BOARD-SHOW ****************/

.board-content-block-show {
  display: flex;
  font-size: 200%;
  font-weight: bold;
  border: 1px solid gray;
  background: #F5F8FA;
}

.board-name-show {
  position: relative;
  top: -58px;
  left: 160px;
}
