@import 'materialize';


/************** GENERAL ****************/

body {
  margin-bottom: 40px;
}

.row {
  margin: 0;
  .col {
    .page-button /*WHY WONT YOU FUCKING WORK*/{
      float: right;
      padding-right: 0;
    }
  }
}

.upvote {
  color: #FF4400;
}

.downvote {
  color: #9393FF;
}

nav.pagination {
  padding: 10px;
  a {
    position: relative;
    top: -10px;
  }
  span.page.current {
    position: relative;
    top: -10px;
  }
}

h6 {
  bottom-margin: 0;
  sup {
    font-weight: bold;
    margin-right: 10px;
  }
}

.like-hate {
  min-width: 90px;
}
/************** INDEX ****************/

.link-content-block-index {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  margin: 0px;
  border: 1px solid gray;
  background: #F5F8FA;
  &:hover {
    background: white;
  }
}

/************** SHOW ****************/

.link-content-block-show {
  display: flex;
  padding: 10px;
  margin: 50px;
  border: 1px solid gray;
  background: #F5F8FA;
}

/************** NEW POST ****************/

.new-post-title {
  margin: 0;
}

.new-post {
  display: flex;
  margin: 10px;
}
