@import 'materialize';


/************** GENERAL ****************/


body {
  margin-bottom: 40px;
  width: 100%;
}

.btn {
  background: #C6DDF6;
  width: 150px;
  padding: .2%;
  &:hover {
    background: #96C1ED;
  }
}

.container {
  width: 100%;
  border: 1px solid #E1E8ED;
  background: #F5F8FA;
  .sign-in-out-row {
    border-bottom: 1px solid #E1E8ED;
    border-top: 1px solid #E1E8ED;
    .blueit {
      font-size: 400%;
      float: left;
    }
    .sign-in-out {
      display: flex;
      background: #DFECF9;
      border: 1px solid #E1E8ED;
      float: right;
      .welcome {
        margin: 0 10px 0 10px;
        padding-top: 5px;
      }
      .sign-in a {
        color: white;
      }
    }
  }
  .create-new-stuff-row {
    display: inline-block;
    float: right;
  }
  .new-board {
    float: right;
  }
  .row {
    margin: 0;
    padding: 0;

    background: #F5F8FA;
    .col {
      .page-button /*WHY WONT YOU FUCKING WORK*/{
        float: right;
        padding-right: 0;
      }
    }
  }
}

.select-box {
  .select-board {
    display: block;
    height: 50px;
  }
}

.link-board-show {
  width: 100%;
}

.home-link {
  margin-right: 10px;
}

.upvote {
  color: #FF4400;
}

.downvote {
  color: #9393FF;
}

.nav-boards {
  float: left;
  display: inline-flex;
  .board-title {
    margin: 10px;
  }
}
nav.pagination {
  padding: 10px;
  a {
    position: relative;
    top: -10px;
  }
  span.page.current {
    position: relative;
    top: -10px;
  }
}

h6 {
  bottom-margin: 0;
  sup {
    font-weight: bold;
    margin-right: 10px;
  }
}

.like-hate {
  min-width: 90px;
}
/************** INDEX ****************/

.link-content-block-index {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  margin: 0px;
  // border: 1px solid #E1E8ED;
  background: #F5F8FA;
  &:hover {
    background: white;
  }
}

/************** SHOW ****************/

.link-content-block-show {
  display: flex;
  padding: 10px;
  margin: 30px;
  background: white;
  border-bottom: 1px solid #F5F8FA;
  border-right: 1px solid #F5F8FA;
  box-shadow: 0px 5px 5px rgba(0,0,0,.1);
}

.inline-comment {
  max-width: 50%;
  margin-left: 30px;
}

/************** NEW POST ****************/

.new-post-title {
  margin: 0;
}

.new-post {
  display: flex;
  margin: 10px;
}

/************** BOARD-INDEX ****************/

.blocky-block {
  margin: 10px;
  &:hover {
    background: #F5F8FA;
  }
  .board-title-index {
    font-size: xx-large;
    margin-left: 30px;
  }
  .board-posts-count {
    margin-left: 30px;
  }
}

/************** BOARD-INDEX ****************/
/************** BOARD-SHOW ****************/

.board-name-show {
  position: relative;
  top: -58px;
  left: 160px;
}

.row-board-title {
  font-size: 200%;
}
